* {
  margin: 5px;
  padding: 0px;
}

body {
  /* font-family:andale mono; */
  font-family: Nunito;
  -webkit-print-color-adjust: exact;
}

h2 {
  padding: 10px;
  background-color: #333;
  color: #fff;
}
.main{
    		display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
}
.container{
			width: 60vw;
            margin-left: 10px;
			margin-right: 10px;
}
#my-img {
  padding: 10px;
  width:60vw;
  text-align: center;
  border:1px dotted black;
  background-color:#f2f2f2;
}

.centered{
       		display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
}
#collatz-chart {
  margin: auto;
  box-sizing: border-box;
  border:1px dotted black; 
}

.w3-card-4 {
  padding: 10px;
  width:60vw;
  margin:auto;
}

.w3-text-blue {
  padding: 0px;
  margin: 0px;
}